# Node modules (diretório de dependências)
node_modules

# Diretórios e arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de ambiente
.env

# Arquivos de teste e cobertura de testes
coverage/
*.test.js
*.spec.js

# Diretórios de build
dist/
build/

# Diretórios de configurações locais
.vscode/

# Arquivos de pacotes do npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de backup do editor
*~

# Arquivos temporários
*.swp
